input:focus {
    outline: none;
  }
  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    background-color: black;

}



#terminal {
    background-image: none;
    width: 60vw;
    height: 60vh;
    background-color: black;
    color: white;
    overflow-y: hidden;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    overflow-anchor: auto;

    padding: 0px 5px;
    border: solid white;
    border-top: 1rem solid;
}

#inputHistory{
    height: auto;
    background-color: black;
}

#typingArea{
    background-color: black;
    display: flex;
}

#terminalInput {
    background-image: none;
    background-color: black;
    border: none;
    color: white;
    flex: 1;
}


p{
    background-image: none;
}



#vamosver img {
    position: absolute;
    top: 5vh; /* Adjust as needed */
    left: 20vw; /* Adjust as needed */
    width: 15vw;
    height: 15vh;
    transition: all .7s ease-in-out;
    z-index: 2;
}

  img:hover{
    transform: scale(1.1);

  }  
