input:focus {
    outline: none;
  }

 body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 2vw;
    font-style: normal;
    background-color: var(--black);

}

p{
    background-image: none;
}

#terminal {
    background-image: none;
    width: 60vw;
    height: 60vh;
    background-color: var(--black);
    color: var(--white);
    overflow-y: hidden;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    overflow-anchor: auto;

    padding: 0vw 0.3vw;
    border: solid var(--white);
    border-top: 1rem solid;
}

#inputHistory{
    height: auto;
    background-color: var(--black);
}

#typingArea{
    background-color: var(--black);
    display: flex;
}

#terminalInput {
    background-image: none;
    background-color: var(--black);
    border: none;
    color: var(--white);
    flex: 1;
}

#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;  
    z-index: -1; 
}

/* ------------------------ Contact buttons ------------------------ */

#buttonsContainer{
    width: 20vw;
    height: 10vh;
    background: transparent;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;

    
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
.button {
    display: flex;
    align-items: center;
    background: transparent;
}

.button a{ 
    text-align: center;
    text-decoration:none;
    display:block;

    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 

    width: 4vw; 
    height: 3.8vw; 

    border-radius: 0.3vw;
    border: none;

    box-shadow: 0vw 0.45vw 0vw #c2c0ba;
}

.button a:active{
    transform: translateY(0.45vw);
    box-shadow: 0 0 0 #c2c0ba;
    filter: brightness(0.8);
}

.button_git{
    background-image: url('git_icon.png');
}
.button_email{
    background-image: url('email_icon.png');
}
.button_lk{
    background-image: url('lk_icon.png');
}
/* ------------------------ ---------------------------------------- */



/* ------------------------ Colors ------------------------ */

:root {
    --white: #EDEADE;
    --black: #000000;
  }

.goldenGlow {
    margin-top: 2vw;
    white-space: pre-wrap;
    color: #ffd166;
    text-shadow:
    0 0 1px #000000,
    0 0 2px #000000,
    0 0 3px #ffd166,
    0 0 4px #ffd166,
    0 0 6px #ffd166,
    0 0 8px rgba(0, 0, 0, 0.4),
    0 0 10px rgba(0, 0, 0, 0.4); 
}

span {
    white-space: pre-wrap;
    color: rgb(0, 128, 0);
    text-shadow:
    0 0 1px #000000,
    0 0 2px #000000,
    0 0 3px rgb(0, 128, 0),
    0 0 4px rgb(0, 128, 0),
    0 0 6px rgb(0, 128, 0),
    0 0 8px rgba(0, 0, 0, 0.4), 
    0 0 10px rgba(0, 0, 0, 0.4);
}

.red {
    white-space: pre-wrap;
    color: rgb(255, 0, 0);
    text-shadow:
    0 0 1px #000000,
    0 0 2px #000000,
    0 0 3px rgb(255, 0, 0),
    0 0 4px rgb(255, 0, 0),
    0 0 6px rgb(255, 0, 0),
    0 0 8px rgba(0, 0, 0, 0.4),
    0 0 10px rgba(0, 0, 0, 0.4)
}

.y{
    white-space: pre-wrap;
    color: rgb(255, 255, 0);
    text-shadow:
    0 0 1px #000000,
    0 0 2px #000000,
    0 0 3px rgb(255, 255, 0)
    0 0 4px rgb(255, 255, 0),
    0 0 8px rgb(255, 255, 0),
    0 0 9px rgba(0, 0, 0, 0.4),
    0 0 12px rgba(0, 0, 0, 0.4)
}
/* ------------------------------------------------------------------- */

/* ------------------------ Pagination buttons ------------------------ */
.paginationButtonRight{
    color: var(--white);
    
    background-color: var(--black);
    margin: 0 auto;
    width: 4.2vw;
    height: 7vh;
    display: block;

    background-image: url('buttonRight.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    cursor: pointer;
    border-style: none;
}

.paginationButtonRight:hover {
    opacity: 0.7; 
  }

.paginationButtonLeft{
    color: var(--white);

    background-color: var(--black);
    margin: 0 auto;
    width: 4.2vw;
    height: 7vh;
    display: block;

    background-image: url('buttonLeft.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    cursor: pointer;
    border-style: none;
}

.paginationButtonLeft:hover {
    opacity: 0.7; 
}
/* ------------------------------------------------------------------- */



